.CFUserTextEncoding
.DS_Store
.Trash/
.account
.avn/
.avnrc
.babel.json
.bash_history
.bash_sessions/
.cache/
.composer/
.config/
.erlang.cookie
.gem/
.gemrc
.irssi/
.lesshst
.mkshrc
.node-gyp/
.npm/
.nvm/
.oracle_jre_usage/
.private
.psql_history
.rvm/
.skipbuddy
.ssh/
.subversion/
.valet/
.vim/
.viminfo
.zlogin
.zshrc
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
com.sh
dump.rdb
git/
mountvm.sh
vm/